#employees {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-items: stretch;

	margin-top: 20px;

	gap: 15px;

	.employee {
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: flex-start;
		cursor: pointer;

		background-color: #fafafa;
		border: #adadad solid 1.34px;
		border-radius: 30px;

		padding: 20px;
		width: 230px;

		gap: 4px;

		box-shadow: #0000000a 0px 0px 10px 0px;

		transition: transform ease-in-out 0.2s;

		flex: 1 1 240px;

		&:hover {
			transform: scale(1.01) translateY(-2px);
		}

		// // onclick
		// &:target {
		// 	transform: scale(0.6) translateY(4px);
		// }

		.name,
		.github,
		.about {
			text-align: center;
		}

		.avatar {
			width: 90px;
			height: 90px;

			border-radius: 50%;
		}

		.name {
			font-size: 24px;
			margin: 0;

			margin-top: 8px;
		}

		.github {
			font-size: 13px;
			font-weight: 600;
		}

		hr {
			width: -webkit-fill-available;
			width: -moz-available;
			background-color: #adadad;
		}

		.about {
			font-size: 14px;
			margin-top: 2px;
			// font-weight: 500;

			font-family: 'IBM Plex Mono';

			// color: #5b5b5b;
		}
	}
}
