@use "animations.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=IBM+Plex+Mono:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&display=swap");

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	background-color: #fafafa;
}

h1 {
	font-family: "Poppins", sans-serif;
	margin: 0 10px;
}

#container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	padding: 20px 35px;

	// Taken from https://github.com/okineadev/okineadev-website/blob/0a43328daf7a5752a200618656aff2fa4c2993f3/src/scss/style.scss#L110-L121
	// Animation of all first-level elements in .content
	& > * {
		@media (prefers-reduced-motion: no-preference) {
			visibility: hidden;
			opacity: 0;
		}

		&.animate {
			animation: fadeInUp 0.8s;
			animation-fill-mode: forwards;
		}
	}
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 90px;
		font-weight: 600;
	}

	img {
		width: 100px;
		height: 100px;
	}
}

#description {
	margin-block: 8px;

	p {
		font-weight: 500;
		font-size: 20px;

		margin: 5px 0;

		text-align: center;
	}
}

hr {
	$height: 1px;

	width: 600px;
	height: $height;

	border: none;
	border-radius: $height;
	background-color: black;
}


@media (max-width: 600px) {
	h1 {
		font-size: 50px !important;
	}

	#title img {
		width: 65px;
		height: 65px;
	}
}
